#search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    background-image: linear-gradient(to right, rgb(147, 193, 204),rgb(236, 216, 128))
}

#search-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-container {
    display: flex;
    flex-direction: column;
}

#name {
    margin: 10px;
    height: 80px;
    width: 400px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}

#ingredient-button {
    width: 90px;
    height: 40px;
    cursor: pointer;
    border: 1px;
    border-style: solid;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 50px;
    
}

#submit-button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: 1px;
    border-style: solid;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 5px;
    
}
#submit-button:hover {
    transition: 2s;
    background-color: rgb(211, 206, 206);
    border-radius: 100px;
}  


.ingredient-name{
    border: 2px;
    border-color: black;
    border-style: groove;
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    border-radius: 60px;
    background-color:lemonchiffon;
}

.ingredient-name:hover{
    cursor: pointer;
    transition: .5s;
    filter:blur(1px);
    filter: opacity(50%);
}

#ingredient-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    height: fit-content
}

#recipe-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* max-width: 900px; */
    width:100%;
    padding: 0px;
}



.recipe-container {
    display: flex;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px;
    border-style: solid;
    border-color: black;
    
    height: auto;
    width: auto;
}

.recipe-name {
    font-size: larger;
}
 .recipe-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
 }

 .recipe-image{
    height: 200px;
    border-radius: 10px;
    margin-right: 10px;
 }