#header-container {
    padding: 20px;
    background-image: linear-gradient(to right, rgb(147, 193, 204),rgb(236, 216, 128))
}

#header-title {
    font-size:xx-large;
    font-weight: 400;
    margin-bottom: 20px;
}

